Repository softeerbootcamp/Team5-Dorothy, pull requests merged in 2023-02, with the labels that each got.

#7 [#6] 프론트엔드 : 프로젝트 초기 세팅
  frontend/.eslintrc.js
  frontend/.gitignore
  frontend/.prettierrc
  frontend/package-lock.json
  frontend/package.json
  frontend/public/vite.svg
Labels: development

#5 [#3#4] 백엔드 프로젝트 세팅 및 회원가입 기능 구현
  .github/workflows/feature.yml
  backend/Dockerfile
  backend/src/main/java/dev/be/dorothy/common/CommonResponse.java
  backend/src/main/java/dev/be/dorothy/config/AuthConfig.java
  backend/src/main/java/dev/be/dorothy/exception/BadRequestException.java
  backend/src/main/java/dev/be/dorothy/exception/InternalServerErrorException.java
  backend/src/main/java/dev/be/dorothy/member/Member.java
  backend/src/main/java/dev/be/dorothy/member/controller/MemberController.java
  backend/src/main/java/dev/be/dorothy/member/repository/MemberRepository.java
  backend/src/main/java/dev/be/dorothy/member/service/MemberResDto.java
  backend/src/main/java/dev/be/dorothy/member/service/MemberService.java
  backend/src/main/java/dev/be/dorothy/member/service/MemberServiceImpl.java
  backend/src/main/java/dev/be/dorothy/member/service/MemberSignUpValidator.java
  backend/src/main/java/dev/be/dorothy/member/service/MemberSignUpValidatorImpl.java
  backend/src/main/java/dev/be/dorothy/member/service/PasswordEncryptor.java
  backend/src/main/java/dev/be/dorothy/member/service/PasswordEncryptorImpl.java
  backend/src/main/java/dev/be/dorothy/member/service/SignUpReqDto.java
  backend/src/test/java/dev/be/dorothy/member/repository/MemberRepositoryTest.java
  backend/src/test/java/dev/be/dorothy/member/service/MemberSignUpValidatorTest.java
  backend/src/test/java/dev/be/dorothy/member/service/PasswordEncryptorImplTest.java
  backend/src/test/resources/application.yml
  backend/src/test/resources/init.sql
Labels: development

#17 메인 화면 구성
  frontend/index.html
  frontend/src/pages/homePage.js
  frontend/src/styles/common.css
  frontend/src/styles/home.css
  frontend/src/styles/joinin.css
  frontend/src/styles/login.css
  frontend/src/styles/reset.css
  frontend/tsconfig.json
Labels: development

#21 feature: 일반 유저 메인 페이지 구성
  backend/.DS_Store
  frontend/src/scripts/attend.js
  frontend/src/scripts/home.js
  frontend/src/scripts/menu.js
  frontend/src/styles/attend.css
  frontend/src/styles/main.css
Labels: development

#22 로그인 설계 진행
  backend/src/main/java/dev/be/dorothy/member/service/LoginReqDto.java
  backend/src/main/java/dev/be/dorothy/member/service/MemberResDto.java
  backend/src/main/java/dev/be/dorothy/member/service/MemberService.java
  backend/src/main/java/dev/be/dorothy/member/service/MemberServiceImpl.java
Labels: development

#25 feature: 일반 사용자 메인 페이지 구성
  frontend/index.html
  frontend/src/pages/attendPage.js
  frontend/src/pages/mainPage.js
  frontend/src/pages/noticePage.js
  frontend/src/styles/home.css
Labels: bug, development

#29 통합 예외 처리를 위한 HttpExceptionHandler 구현
  backend/src/main/java/dev/be/dorothy/exception/HttpExceptionHandler.java
  backend/src/test/java/dev/be/dorothy/exception/HttpExceptionHandlerTest.java
Labels: development

#27 로그인 기능 컨트롤러 구현
  backend/src/main/java/dev/be/dorothy/member/controller/MemberController.java
  backend/src/main/java/dev/be/dorothy/member/service/LoginReqDto.java
  backend/src/test/java/dev/be/dorothy/member/controller/MemberControllerTest.java
Labels: development

#32 로그인 기능 구현(Service)
  backend/src/main/java/dev/be/dorothy/member/service/LoginReqDto.java
  backend/src/main/java/dev/be/dorothy/member/service/MemberServiceImpl.java
  backend/src/test/java/dev/be/dorothy/member/service/MemberServiceImplTest.java
Labels: development

#38 Feature/#37 트랙 관련 기능 설계
  backend/.gitignore
  backend/src/main/java/dev/be/dorothy/track/Track.java
  backend/src/main/java/dev/be/dorothy/track/TrackMember.java
  backend/src/main/java/dev/be/dorothy/track/repository/TrackRepository.java
  backend/src/main/java/dev/be/dorothy/track/service/TrackResDto.java
  backend/src/test/java/dev/be/dorothy/member/controller/MemberControllerTest.java
  backend/src/test/java/dev/be/dorothy/track/repository/TrackRepositoryTest.java
  backend/src/test/resources/init.sql
Labels: development

#34 로그인 세션 관리 기능 구현
  backend/src/main/java/dev/be/dorothy/auth/AuthenticationFilter.java
  backend/src/main/java/dev/be/dorothy/auth/AuthorizationFilter.java
  backend/src/main/java/dev/be/dorothy/auth/ContextHolder.java
  backend/src/main/java/dev/be/dorothy/auth/MemberDetail.java
  backend/src/main/java/dev/be/dorothy/auth/MemberDetailService.java
  backend/src/main/java/dev/be/dorothy/auth/authentication/Authentication.java
  backend/src/main/java/dev/be/dorothy/auth/authentication/UsernameAndPasswordToken.java
  backend/src/main/java/dev/be/dorothy/auth/authentication/UsernameAndPasswordTokenProvider.java
  backend/src/main/java/dev/be/dorothy/auth/authorization/AcccessEnum.java
  backend/src/main/java/dev/be/dorothy/auth/authorization/ExpressionUrlAuthorizationConfigurer.java
  backend/src/main/java/dev/be/dorothy/auth/authorization/HttpSecurity.java
  backend/src/main/java/dev/be/dorothy/auth/authorization/SecurityConfig.java
  backend/src/test/java/dev/be/dorothy/auth/SecurityFilterTest.java
Labels: development

#41 Member 저장 시 save 메서드 사용 및 패스워드 암호화 로직 수정
  .idea/misc.xml
  backend/src/main/java/dev/be/dorothy/member/Member.java
  backend/src/main/java/dev/be/dorothy/member/repository/MemberRepository.java
  backend/src/main/java/dev/be/dorothy/member/service/MemberServiceImpl.java
  backend/src/main/java/dev/be/dorothy/member/service/MemberSignUpValidatorImpl.java
  backend/src/main/java/dev/be/dorothy/member/service/PasswordEncryptor.java
  backend/src/main/java/dev/be/dorothy/member/service/PasswordEncryptorImpl.java
  backend/src/test/java/dev/be/dorothy/member/controller/MemberControllerTest.java
  backend/src/test/java/dev/be/dorothy/member/repository/MemberRepositoryTest.java
  backend/src/test/java/dev/be/dorothy/member/service/MemberServiceImplTest.java
  backend/src/test/java/dev/be/dorothy/member/service/MemberSignUpValidatorTest.java
  backend/src/test/java/dev/be/dorothy/member/service/PasswordEncryptorImplTest.java
  backend/src/test/java/dev/be/dorothy/track/repository/TrackRepositoryTest.java
  backend/src/test/resources/init.sql
Labels: development

#42 SecurityFilter 유저 authentication 판별 로직 주석 처리
  backend/src/main/java/dev/be/dorothy/auth/AuthenticationFilter.java
  backend/src/main/java/dev/be/dorothy/auth/AuthorizationFilter.java
Labels: bug

#31 (FE) 동적 스크립트 초기 세팅
  frontend/index.html
  frontend/src/api/user.js
  frontend/src/apis/http.js
  frontend/src/apis/services/userservice.js
  frontend/src/apis/user.js
  frontend/src/components/home/loginForm.js
  frontend/src/components/home/registerForm.js
  frontend/src/components/pageTitle.js
  frontend/src/main.js
  frontend/src/pages/homePage.js
  frontend/src/pages/mainPage.js
  frontend/src/pages/pageTemplate.js
  frontend/src/pages/rentalDetailPage.js
  frontend/src/pages/rentalPage.js
  frontend/src/pages/trackPage.js
  frontend/src/router.js
  frontend/src/scripts/home.js
  frontend/src/styles/attend.scss
  frontend/src/styles/home.scss
  frontend/src/styles/joinin.css
  frontend/src/styles/login.css
  frontend/src/styles/login.scss
  frontend/src/styles/main.scss
  frontend/src/styles/rental.scss
  frontend/src/styles/reset.css
  frontend/src/styles/reset.scss
  frontend/src/styles/style.css
Labels: development, help wanted, Frontend

#46 Feature/#26 rentaldetail page
  frontend/src/pages/attendPage.js
  frontend/src/pages/notFoundPage.js
  frontend/src/pages/noticePage.js
  frontend/src/router.js
  frontend/src/scripts/home.js
  frontend/src/styles/style.css
Labels: bug, Frontend

#49 로그인/ 회원가입 기능 구현
  frontend/index.html
  frontend/src/components/home/loginForm.js
  frontend/src/components/home/registerForm.js
  frontend/src/components/rental/placeCard.js
  frontend/src/main.js
  frontend/src/pages/rentalPage.js
  frontend/src/router.js
  frontend/src/scripts/home.js
  frontend/src/scripts/main.js
  frontend/src/styles/rental.scss
  frontend/src/styles/style.scss
Labels: development, Frontend

#54 authentication 관련 필터링 구현
  backend/src/main/java/dev/be/dorothy/auth/MemberDetail.java
  backend/src/main/java/dev/be/dorothy/auth/authorization/AcccessEnum.java
  backend/src/main/java/dev/be/dorothy/member/service/LoginReqDto.java
  backend/src/main/java/dev/be/dorothy/security/authentication/Authentication.java
  backend/src/main/java/dev/be/dorothy/security/authentication/AuthenticationManager.java
  backend/src/main/java/dev/be/dorothy/security/authentication/UsernameAndPasswordToken.java
  backend/src/main/java/dev/be/dorothy/security/authentication/UsernameAndPasswordTokenProvider.java
  backend/src/main/java/dev/be/dorothy/security/authorization/AcccessEnum.java
  backend/src/main/java/dev/be/dorothy/security/authorization/ExpressionUrlAuthorizationConfigurer.java
  backend/src/main/java/dev/be/dorothy/security/authorization/HttpSecurity.java
  backend/src/main/java/dev/be/dorothy/security/authorization/SecurityConfig.java
  backend/src/main/java/dev/be/dorothy/security/context/ContextHolder.java
  backend/src/main/java/dev/be/dorothy/security/context/MemberDetail.java
  backend/src/main/java/dev/be/dorothy/security/context/MemberDetailService.java
  backend/src/main/java/dev/be/dorothy/security/filter/AuthenticationFilter.java
  backend/src/main/java/dev/be/dorothy/security/filter/AuthorizationFilter.java
  backend/src/main/java/dev/be/dorothy/security/filter/LoginFilter.java
  backend/src/main/java/dev/be/dorothy/track/repository/TrackRepository.java
  backend/src/main/java/dev/be/dorothy/track/service/TrackResDto.java
  backend/src/main/java/dev/be/dorothy/track/service/TrackRetrieveService.java
  backend/src/main/java/dev/be/dorothy/track/service/TrackRetrieveServiceImpl.java
  backend/src/test/java/dev/be/dorothy/member/controller/MemberControllerTest.java
  backend/src/test/java/dev/be/dorothy/security/SecurityFilterTest.java
  backend/src/test/java/dev/be/dorothy/track/repository/TrackRepositoryTest.java
Labels: development, Backend

#52 트랙 조회 기능 구현
  backend/src/main/java/dev/be/dorothy/track/service/TrackRetrieveServiceImpl.java
Labels: development, Backend

#60 트랙 참여 기능 구현
  backend/src/main/java/dev/be/dorothy/track/service/TrackCodeManagerService.java
  backend/src/main/java/dev/be/dorothy/track/service/TrackRegisterService.java
  backend/src/main/java/dev/be/dorothy/track/service/TrackRegisterServiceImpl.java
  backend/src/main/java/dev/be/dorothy/track/service/register/TrackRegister.java
  backend/src/main/java/dev/be/dorothy/track/service/register/TrackRegisterImpl.java
  backend/src/test/java/dev/be/dorothy/track/service/TrackRegisterServiceTest.java
  backend/src/test/java/dev/be/dorothy/track/service/register/TrackRegisterTest.java
Labels: development, Backend

#61 트랙 초대 코드 발급 기능 구현
  .github/workflows/feature.yml
  backend/build.gradle
  backend/src/main/java/dev/be/dorothy/member/Member.java
  backend/src/main/java/dev/be/dorothy/redis/RedisConfig.java
  backend/src/main/java/dev/be/dorothy/redis/RedisDao.java
  backend/src/main/java/dev/be/dorothy/track/Track.java
  backend/src/main/java/dev/be/dorothy/track/service/TrackCodeManagerService.java
  backend/src/main/java/dev/be/dorothy/track/service/TrackCodeManagerServiceImpl.java
  backend/src/test/java/dev/be/dorothy/redis/RedisDaoTest.java
  backend/src/test/java/dev/be/dorothy/track/service/TrackCodeManagerServiceImplTest.java
  backend/src/test/resources/application.yml
Labels: development, Backend

#63 트랙 컨트롤러 구현
  backend/src/main/java/dev/be/dorothy/track/controller/TrackController.java
  backend/src/main/java/dev/be/dorothy/track/service/TrackRegisterServiceImpl.java
Labels: development, Backend

#67 Track Member 중복 확인 기능 구현
  backend/src/main/java/dev/be/dorothy/track/repository/TrackRepository.java
  backend/src/main/java/dev/be/dorothy/track/service/TrackRegisterServiceImpl.java
  backend/src/test/java/dev/be/dorothy/track/repository/TrackRepositoryTest.java
  backend/src/test/java/dev/be/dorothy/track/service/TrackRegisterServiceTest.java
Labels: development, Backend

#68 css 깨짐 현상 해결
  frontend/src/pages/rentalDetailPage.js
  frontend/src/pages/rentalPage.js
  frontend/src/router.js
  frontend/src/styles/home.scss
  frontend/src/styles/login.scss
  frontend/src/styles/main.scss
  frontend/src/styles/rental.scss
Labels: bug, Frontend

#64 (FE) modal 모달 퍼블리싱
  frontend/package.json
  frontend/src/apis/http.js
  frontend/src/apis/services/userservice.js
  frontend/src/apis/user.js
  frontend/src/components/calendar/calendar.js
  frontend/src/components/calendar/constants.js
  frontend/src/components/modal.js
  frontend/src/pages/attendPage.js
  frontend/src/pages/homePage.js
  frontend/src/scripts/main.js
  frontend/src/store/user.js
  frontend/src/styles/attend.scss
  frontend/src/styles/home.scss
Labels: development, Frontend

#71 Feature/#69 attend button
  frontend/src/main.js
  frontend/src/pages/mainPage.js
  frontend/src/router.js
  frontend/src/scripts/attend.js
  frontend/src/scripts/main.js
  frontend/src/styles/main.scss
  frontend/src/styles/style.scss
  frontend/src/styles/timer.scss
Labels: development, Frontend

#80 메인 페이지 타이머 수정 및 기능 구현
  frontend/src/apis/http.js
  frontend/src/apis/services/userservice.js
  frontend/src/apis/user.js
  frontend/src/components/calendar/constants.js
  frontend/src/components/main/chart/chart.js
  frontend/src/components/main/timer/maketimer.js
  frontend/src/components/main/timer/timer.js
  frontend/src/components/modal.js
  frontend/src/main.js
  frontend/src/pages/homePage.js
  frontend/src/pages/mainPage.js
  frontend/src/scripts/attend.js
  frontend/src/scripts/main.js
  frontend/src/styles/chart.scss
  frontend/src/styles/timer.scss
Labels: development, Frontend

#84 달력 로직 수정 및 라우팅 변경
  frontend/index.html
  frontend/package-lock.json
  frontend/src/apis/user.js
  frontend/src/components/calendar/calendar.js
  frontend/src/components/dice/dice.js
  frontend/src/components/notice/noticeComponents.js
  frontend/src/components/notice/noticeInfo.js
  frontend/src/components/rental/placeCard.js
  frontend/src/components/rental/placeInfo.js
  frontend/src/main.js
  frontend/src/pages/attendPage.js
  frontend/src/pages/notFoundPage.js
  frontend/src/pages/noticePage.js
  frontend/src/pages/rentalPage.js
  frontend/src/router.js
  frontend/src/styles/404.scss
  frontend/src/styles/attend.scss
  frontend/src/styles/home.scss
  frontend/src/styles/notice.scss
  frontend/src/styles/rental.scss
  frontend/src/styles/rentalDetail.scss
  frontend/src/styles/style.scss
Labels: development, Frontend

#82 Feature/#81 weekly chart
  frontend/src/apis/services/userservice.js
  frontend/src/apis/user.js
  frontend/src/components/main/chart/chart.js
  frontend/src/components/main/timer/maketimer.js
  frontend/src/pages/mainPage.js
  frontend/src/scripts/main.js
  frontend/src/styles/chart.scss
  frontend/src/utils/selector.js
Labels: bug, development, Frontend

#83 Dto - Entity 간 Mapping을 위한 클래스 구현
  backend/build.gradle
  backend/src/main/java/dev/be/dorothy/mapper/MemberResDtoMapper.java
  backend/src/main/java/dev/be/dorothy/mapper/TrackResDtoMapper.java
  backend/src/main/java/dev/be/dorothy/member/Member.java
  backend/src/main/java/dev/be/dorothy/member/service/MemberResDto.java
  backend/src/main/java/dev/be/dorothy/member/service/MemberServiceImpl.java
  backend/src/main/java/dev/be/dorothy/security/authentication/AuthenticationManager.java
  backend/src/main/java/dev/be/dorothy/security/context/MemberDetail.java
  backend/src/main/java/dev/be/dorothy/track/service/TrackRegisterServiceImpl.java
  backend/src/test/java/dev/be/dorothy/mapper/MemberResDtoMapperTest.java
  backend/src/test/java/dev/be/dorothy/mapper/TrackResDtoMapperTest.java
  backend/src/test/java/dev/be/dorothy/member/controller/MemberControllerTest.java
Labels: documentation, Backend

#89 Track class 수정 및 TrackMember 저장 및 삭제 메서드 구현
  backend/src/main/java/dev/be/dorothy/track/Track.java
  backend/src/main/java/dev/be/dorothy/track/TrackMember.java
  backend/src/main/java/dev/be/dorothy/track/repository/TrackRepository.java
  backend/src/main/java/dev/be/dorothy/track/service/TrackRegisterServiceImpl.java
  backend/src/test/java/dev/be/dorothy/track/repository/TrackRepositoryTest.java
  backend/src/test/resources/init.sql
Labels: development, Backend

#103 타이머 이벤트 오류 수정
  frontend/src/components/main/chart/currentWeek.js
  frontend/src/components/main/chart/dailyChart.js
  frontend/src/components/main/chart/weeklyChart.js
  frontend/src/components/main/managerMain.js
  frontend/src/components/main/timer/maketimer.js
  frontend/src/components/main/userMain.js
  frontend/src/main.js
  frontend/src/pages/mainPage.js
  frontend/src/scripts/main.js
  frontend/src/styles/chart.scss
  frontend/src/styles/main.scss
  frontend/src/styles/timer.scss
  frontend/src/utils/selector.js
Labels: bug, development, Frontend

#99 공유 공간 등록 및 조회 기능 구현
  backend/src/main/java/dev/be/dorothy/mapper/PlaceResDtoMapper.java
  backend/src/main/java/dev/be/dorothy/reservation/Place.java
  backend/src/main/java/dev/be/dorothy/reservation/controller/PlaceController.java
  backend/src/main/java/dev/be/dorothy/reservation/repository/PlaceRepository.java
  backend/src/main/java/dev/be/dorothy/reservation/service/PlaceResDto.java
  backend/src/main/java/dev/be/dorothy/reservation/service/PlaceService.java
  backend/src/main/java/dev/be/dorothy/reservation/service/PlaceServiceImpl.java
  backend/src/test/java/dev/be/dorothy/mapper/PlaceResDtoMapperTest.java
  backend/src/test/java/dev/be/dorothy/reservation/repository/PlaceRepositoryTest.java
Labels: development, Backend

#100 Notice 도메인 작성 및 레포지토리 구현
  backend/src/main/java/dev/be/dorothy/notice/Notice.java
  backend/src/main/java/dev/be/dorothy/notice/repository/CustomNoticeRepository.java
  backend/src/main/java/dev/be/dorothy/notice/repository/NoticeRepository.java
  backend/src/main/java/dev/be/dorothy/notice/repository/NoticeRepositoryImpl.java
  backend/src/main/java/dev/be/dorothy/notice/repository/NoticeRowMapper.java
  backend/src/test/java/dev/be/dorothy/notice/repository/NoticeRepositoryTest.java
Labels: development, Backend

#106 출석 기능 관련 설계 및 위치 기반으로 출석 가능한지 확인하는 기능 담당하는 AttendanceManagerService 구현
  backend/src/main/java/dev/be/dorothy/attendance/Attendance.java
  backend/src/main/java/dev/be/dorothy/attendance/AttendanceType.java
  backend/src/main/java/dev/be/dorothy/attendance/controller/AttendanceController.java
  backend/src/main/java/dev/be/dorothy/attendance/repository/AttendanceRepository.java
  backend/src/main/java/dev/be/dorothy/attendance/service/AttendanceManagerService.java
  backend/src/main/java/dev/be/dorothy/attendance/service/AttendanceManagerServiceImpl.java
  backend/src/main/java/dev/be/dorothy/attendance/service/AttendanceResDto.java
  backend/src/main/java/dev/be/dorothy/track/TrackMember.java
  backend/src/main/java/dev/be/dorothy/track/repository/TrackRepository.java
  backend/src/main/java/dev/be/dorothy/track/service/TrackRegisterServiceImpl.java
  backend/src/main/java/dev/be/dorothy/track/service/TrackRetrieveService.java
  backend/src/main/java/dev/be/dorothy/track/service/TrackRetrieveServiceImpl.java
  backend/src/test/java/dev/be/dorothy/attendance/service/AttendanceManagerServiceImplTest.java
  backend/src/test/java/dev/be/dorothy/track/repository/TrackRepositoryTest.java
  backend/src/test/java/dev/be/dorothy/track/service/TrackRegisterServiceTest.java
  backend/src/test/resources/init.sql
Labels: development, Backend

#108 타이머 오류 수정
  frontend/src/components/main/timer/maketimer.js
  frontend/src/main.js
  frontend/src/scripts/main.js
  frontend/src/styles/timer.scss
Labels: development, Frontend

#117 Feature/#105 daily chart
  frontend/dist/assets/index-09f76abd.js
  frontend/dist/assets/index-484c70a6.js
  frontend/dist/assets/index-bde115ab.css
  frontend/src/apis/services/userservice.js
  frontend/src/apis/user.js
  frontend/src/components/main/chart/dailyChart.js
  frontend/src/components/main/chart/weeklyChart.js
  frontend/src/components/main/managerMain.js
  frontend/src/components/notice/noticeComponents.js
  frontend/src/pages/noticeAddPage.js
  frontend/src/pages/noticeDetailPage.js
  frontend/src/pages/noticePage.js
  frontend/src/router.js
  frontend/src/scripts/main.js
  frontend/src/scripts/rental.js
  frontend/src/styles/chart.scss
  frontend/src/styles/notice.scss
Labels: development, Frontend

#118 메인화면 마크업 수정
  frontend/src/apis/user.js
  frontend/src/components/main/profileBox.js
  frontend/src/components/main/userMain.js
  frontend/src/pages/mainPage.js
  frontend/src/styles/attend.scss
  frontend/src/styles/main.scss
Labels: bug, Frontend

#107 공지사항 상세 페이지 퍼블리싱
  frontend/dist/assets/index-09f76abd.js
  frontend/dist/assets/index-484c70a6.js
  frontend/dist/assets/index-bde115ab.css
  frontend/src/apis/services/userservice.js
  frontend/src/apis/user.js
  frontend/src/components/main/chart/dailyChart.js
  frontend/src/components/main/chart/weeklyChart.js
  frontend/src/components/main/managerMain.js
  frontend/src/components/main/profileBox.js
  frontend/src/components/main/timer/timer.js
  frontend/src/components/main/userMain.js
  frontend/src/components/notice/noticeComponents.js
  frontend/src/pages/mainPage.js
  frontend/src/pages/noticeAddPage.js
  frontend/src/pages/noticeDetailPage.js
  frontend/src/pages/noticePage.js
  frontend/src/router.js
  frontend/src/scripts/main.js
  frontend/src/scripts/rental.js
  frontend/src/styles/attend.scss
  frontend/src/styles/chart.scss
  frontend/src/styles/main.scss
  frontend/src/styles/notice.scss
  frontend/src/styles/timer.scss
Labels: development, Frontend

#115 프론트, 백엔드 통합 배포 스크립트 작성
  .github/workflows/dev.yml
  scripts/back-deploy.sh
  scripts/front-build.sh
Labels: development, Backend

#127 동시성 제어를 위한 Redis distributed lock 구현
  backend/build.gradle
  backend/src/main/java/dev/be/dorothy/aspect/AopForTransaction.java
  backend/src/main/java/dev/be/dorothy/aspect/DistributedLockAop.java
  backend/src/main/java/dev/be/dorothy/aspect/EnableLock.java
  backend/src/main/java/dev/be/dorothy/aspect/RedissonKeyParser.java
  backend/src/main/java/dev/be/dorothy/reservation/Reservation.java
  backend/src/main/java/dev/be/dorothy/reservation/controller/PlaceController.java
  backend/src/main/java/dev/be/dorothy/reservation/repository/PlaceRepository.java
  backend/src/main/java/dev/be/dorothy/reservation/service/PlaceReservationManager.java
  backend/src/main/java/dev/be/dorothy/reservation/service/PlaceReservationManagerImpl.java
  backend/src/main/java/dev/be/dorothy/reservation/service/PlaceReservationService.java
  backend/src/main/java/dev/be/dorothy/reservation/service/PlaceReservationServiceImpl.java
  backend/src/main/java/dev/be/dorothy/reservation/service/ReservationResDto.java
  backend/src/test/java/dev/be/dorothy/redis/RedisTestContainer.java
  backend/src/test/java/dev/be/dorothy/reservation/repository/PlaceRepositoryTest.java
Labels: development, Backend

#110 공지사항 조회 기능 구현 (조회수 기능 미포함)
  backend/src/main/java/dev/be/dorothy/notice/repository/CustomNoticeRepository.java
  backend/src/main/java/dev/be/dorothy/notice/repository/NoticeRepositoryImpl.java
  backend/src/main/java/dev/be/dorothy/notice/serivce/NoticeReadService.java
  backend/src/main/java/dev/be/dorothy/notice/serivce/NoticeReadServiceImpl.java
  backend/src/main/java/dev/be/dorothy/notice/serivce/NoticeResDto.java
  backend/src/test/java/dev/be/dorothy/notice/repository/NoticeRepositoryTest.java
  backend/src/test/java/dev/be/dorothy/notice/service/NoticeReadServiceTest.java
Labels: development, Backend

#112 스프링 스케줄러 기본 틀 구현
  backend/src/main/java/dev/be/dorothy/common/scheduler/ExampleScheduler.java
  backend/src/main/java/dev/be/dorothy/config/SchedulerConfig.java
Labels: development, Backend

#129 사용자 권한 기반 리소스에 대한 접근 관리 구현
  backend/src/main/java/dev/be/dorothy/security/ExceptionHandlerFilter.java
  backend/src/main/java/dev/be/dorothy/security/authorization/AcccessEnum.java
  backend/src/main/java/dev/be/dorothy/security/authorization/ExpressionUrlAuthorizationConfigurer.java
  backend/src/main/java/dev/be/dorothy/security/authorization/HttpSecurity.java
  backend/src/main/java/dev/be/dorothy/security/authorization/SecurityConfig.java
  backend/src/main/java/dev/be/dorothy/security/filter/AuthenticationFilter.java
  backend/src/main/java/dev/be/dorothy/security/filter/AuthorizationFilter.java
  backend/src/main/java/dev/be/dorothy/security/filter/LoginFilter.java
Labels: development, Backend

#116 checkAttendanceTime 메서드, AttendanceService, AttendanceController, AttendanceRepository, AttendanceRetrieveService 구현
  backend/src/main/java/dev/be/dorothy/attendance/controller/AttendanceController.java
  backend/src/main/java/dev/be/dorothy/attendance/repository/AttendanceRepository.java
  backend/src/main/java/dev/be/dorothy/attendance/service/AttendanceManagerService.java
  backend/src/main/java/dev/be/dorothy/attendance/service/AttendanceManagerServiceImpl.java
  backend/src/main/java/dev/be/dorothy/attendance/service/AttendanceReqDto.java
  backend/src/main/java/dev/be/dorothy/attendance/service/AttendanceRetrieveResDto.java
  backend/src/main/java/dev/be/dorothy/attendance/service/AttendanceRetrieveService.java
  backend/src/main/java/dev/be/dorothy/attendance/service/AttendanceRetrieveServiceImpl.java
  backend/src/main/java/dev/be/dorothy/attendance/service/AttendanceService.java
  backend/src/main/java/dev/be/dorothy/attendance/service/AttendanceServiceImpl.java
  backend/src/main/java/dev/be/dorothy/mapper/AttendanceResDtoMapper.java
  backend/src/main/java/dev/be/dorothy/track/service/TrackRetrieveService.java
  backend/src/main/java/dev/be/dorothy/track/service/TrackRetrieveServiceImpl.java
  backend/src/test/java/dev/be/dorothy/attendance/service/AttendanceManagerServiceImplTest.java
  backend/src/test/java/dev/be/dorothy/attendance/service/AttendanceServiceImplTest.java
  backend/src/test/java/dev/be/dorothy/mapper/AttendanceResDtoMapperTest.java
Labels: development, Backend

#133 공간대여 상세 페이지 기능 추가 및 사용자 메인화면 컴포넌트
  frontend/src/components/main/profileBox.js
  frontend/src/components/notice/noticeComponents.js
  frontend/src/components/notice/noticeInfo.js
  frontend/src/components/rental/hourCard.js
  frontend/src/main.js
  frontend/src/pages/noticeDetailPage.js
  frontend/src/pages/noticePage.js
  frontend/src/pages/rentalDetailPage.js
  frontend/src/scripts/main.js
  frontend/src/scripts/notice.js
  frontend/src/scripts/rental.js
  frontend/src/scripts/rentalDetail.js
  frontend/src/styles/main.scss
  frontend/src/styles/notice.scss
  frontend/src/styles/rentalDetail.scss
Labels: development, Frontend

#134 회원 권한 관리 및 트랙 관련 기능 구현
  frontend/index.html
  frontend/src/apis/notice.js
  frontend/src/apis/services/trackservices.js
  frontend/src/apis/services/userservice.js
  frontend/src/apis/track.js
  frontend/src/apis/user.js
  frontend/src/components/dice/dice.js
  frontend/src/components/modal.js
  frontend/src/components/track/addTrack.js
  frontend/src/components/track/addTrackCard.js
  frontend/src/components/track/trackCard.js
  frontend/src/pages/mainPage.js
  frontend/src/pages/pageTemplate.js
  frontend/src/pages/trackPage.js
  frontend/src/store/user.js
Labels: development, Frontend

#135 공지사항 생성 기능 구현
  backend/src/main/java/dev/be/dorothy/notice/Notice.java
  backend/src/main/java/dev/be/dorothy/notice/controller/NoticeController.java
  backend/src/main/java/dev/be/dorothy/notice/repository/NoticeRepositoryImpl.java
  backend/src/main/java/dev/be/dorothy/notice/repository/NoticeRowMapper.java
  backend/src/main/java/dev/be/dorothy/notice/serivce/NoticeCreateDto.java
  backend/src/main/java/dev/be/dorothy/notice/serivce/NoticeCreateService.java
  backend/src/main/java/dev/be/dorothy/notice/serivce/NoticeCreateServiceImpl.java
  backend/src/test/java/dev/be/dorothy/notice/repository/NoticeRepositoryTest.java
  backend/src/test/java/dev/be/dorothy/notice/service/NoticeCreateServiceTest.java
  backend/src/test/java/dev/be/dorothy/notice/service/NoticeReadServiceTest.java
  backend/src/test/resources/init.sql
Labels: development, Backend

#145 트랙 초대 코드 조회 API 구현
  backend/src/main/java/dev/be/dorothy/track/controller/TrackController.java
  backend/src/test/java/dev/be/dorothy/track/controller/TrackControllerTest.java
Labels: development, Backend

#148 로그인/회원가입 화면 완성
  frontend/index.html
  frontend/src/apis/user.js
  frontend/src/components/home/loginForm.js
  frontend/src/components/home/registerForm.js
  frontend/src/scripts/home.js
  frontend/src/scripts/main.js
  frontend/src/styles/login.scss
Labels: development, Frontend

#149 트랙 추가 기능 구현
  frontend/src/apis/services/trackservices.js
  frontend/src/apis/track.js
  frontend/src/apis/user.js
  frontend/src/components/dice/dice.js
  frontend/src/components/main/profileBox.js
  frontend/src/components/main/timer/timer.js
  frontend/src/components/track/addTrack.js
  frontend/src/components/track/trackCard.js
  frontend/src/pages/mainPage.js
  frontend/src/pages/trackPage.js
  frontend/src/scripts/main.js
  frontend/src/store/user.js
  frontend/src/styles/main.scss
  frontend/src/styles/timer.scss
  frontend/src/styles/track.scss
Labels: bug, development, Frontend

#144 공지사항 조회 API 및 조회수 증가 기능 구현
  backend/src/main/java/dev/be/dorothy/notice/controller/NoticeController.java
  backend/src/main/java/dev/be/dorothy/notice/serivce/NoticeReadServiceImpl.java
  backend/src/main/java/dev/be/dorothy/redis/RedisDao.java
  backend/src/test/java/dev/be/dorothy/notice/service/NoticeReadServiceTest.java
  backend/src/test/java/dev/be/dorothy/redis/RedisDaoTest.java
Labels: development, Backend

#143 공간 예약 조회 기능 구현
  backend/src/main/java/dev/be/dorothy/aspect/DistributedLockAop.java
  backend/src/main/java/dev/be/dorothy/aspect/RedissonKeyUtils.java
  backend/src/main/java/dev/be/dorothy/reservation/controller/PlaceController.java
  backend/src/main/java/dev/be/dorothy/reservation/repository/PlaceRepository.java
  backend/src/main/java/dev/be/dorothy/reservation/service/PlaceRegisterService.java
  backend/src/main/java/dev/be/dorothy/reservation/service/PlaceRegisterServiceImpl.java
  backend/src/main/java/dev/be/dorothy/reservation/service/PlaceReservationService.java
  backend/src/main/java/dev/be/dorothy/reservation/service/PlaceReservationServiceImpl.java
  backend/src/main/java/dev/be/dorothy/reservation/service/ReservationResDto.java
  backend/src/test/java/dev/be/dorothy/mapper/TrackResDtoMapperTest.java
  backend/src/test/java/dev/be/dorothy/reservation/repository/PlaceRepositoryTest.java
  backend/src/test/java/dev/be/dorothy/track/repository/TrackRepositoryTest.java
Labels: development, Backend

#153 매일 자정 모든 트랙 멤버의 당일 출석을 결석으로 초기화하는 기능 구현
  backend/src/main/java/dev/be/dorothy/common/scheduler/AttendanceScheduler.java
  backend/src/main/java/dev/be/dorothy/config/SchedulerConfig.java
  backend/src/main/java/dev/be/dorothy/track/repository/TrackRepository.java
  backend/src/test/java/dev/be/dorothy/track/repository/TrackRepositoryTest.java
Labels: development, Backend

#155 인메모리에 존재하는 당일 공지사항 조회수를 디비와 동기화 시키는 기능 구현
  backend/src/main/java/dev/be/dorothy/common/scheduler/NoticeViewsSyncScheduler.java
  backend/src/main/java/dev/be/dorothy/config/SchedulerConfig.java
  backend/src/main/java/dev/be/dorothy/notice/repository/NoticeRepository.java
  backend/src/main/java/dev/be/dorothy/redis/RedisDao.java
  backend/src/test/java/dev/be/dorothy/redis/RedisDaoTest.java
Labels: development, Backend

#159 Feature/#156 reservation cron
  backend/src/main/java/dev/be/dorothy/exception/HttpExceptionHandler.java
  backend/src/main/java/dev/be/dorothy/exception/PartialContentException.java
  backend/src/main/java/dev/be/dorothy/reservation/repository/PlaceRepository.java
  backend/src/main/java/dev/be/dorothy/reservation/service/PlaceReservationManager.java
  backend/src/main/java/dev/be/dorothy/reservation/service/PlaceReservationManagerImpl.java
  backend/src/main/java/dev/be/dorothy/reservation/service/PlaceReservationServiceImpl.java
Labels: development, Backend

#160 메인페이지 및 공지사항 기능 구현
  frontend/src/apis/attend.js
  frontend/src/apis/notice.js
  frontend/src/apis/services/attendservices.js
  frontend/src/apis/services/noticeservices.js
  frontend/src/apis/services/trackservices.js
  frontend/src/apis/services/userservice.js
  frontend/src/components/calendar/calendar.js
  frontend/src/components/main/chart/currentWeek.js
  frontend/src/components/main/chart/dailyChart.js
  frontend/src/components/main/chart/weeklyChart.js
  frontend/src/components/main/profileBox.js
  frontend/src/components/main/timer/maketimer.js
  frontend/src/components/main/userMain.js
  frontend/src/components/notice/noticeComponents.js
  frontend/src/main.js
  frontend/src/pages/mainPage.js
  frontend/src/pages/noticeDetailPage.js
  frontend/src/pages/noticePage.js
  frontend/src/router.js
  frontend/src/scripts/main.js
  frontend/src/scripts/notice.js
  frontend/src/styles/attend.scss
  frontend/src/styles/main.scss
  frontend/src/styles/notice.scss
Labels: development, Frontend

#162 공간 대여 통신 추가
  frontend/src/apis/rental.js
  frontend/src/apis/services/rentalServices.js
  frontend/src/apis/services/trackservices.js
  frontend/src/apis/track.js
  frontend/src/components/main/profileBox.js
  frontend/src/components/rental/hourCard.js
  frontend/src/components/track/trackCard.js
  frontend/src/main.js
  frontend/src/pages/rentalPage.js
  frontend/src/pages/trackPage.js
  frontend/src/scripts/main.js
  frontend/src/scripts/rental.js
  frontend/src/scripts/rentalDetail.js
  frontend/src/styles/main.scss
  frontend/src/styles/rentalDetail.scss
Labels: development, Frontend

#165 ADMIN이 월간 출결 현황 조회하는 기능 수정
  backend/src/main/java/dev/be/dorothy/attendance/controller/AttendanceController.java
  backend/src/main/java/dev/be/dorothy/attendance/repository/AttendanceRepository.java
  backend/src/main/java/dev/be/dorothy/attendance/service/AttendanceRetrieveService.java
  backend/src/main/java/dev/be/dorothy/attendance/service/AttendanceRetrieveServiceImpl.java
  backend/src/main/java/dev/be/dorothy/attendance/service/AttendanceStatisticsResDto.java
Labels: development, Backend

#167 메인화면 트랙 가입 기능 추가
  frontend/src/apis/track.js
  frontend/src/components/main/profileBox.js
  frontend/src/main.js
  frontend/src/scripts/main.js
  frontend/src/styles/main.scss
Labels: development, Frontend

#168 출석 페이지 관리자 일반 유저 구분
  frontend/.gitignore
  frontend/src/components/main/timer/timer.js
  frontend/src/main.js
  frontend/src/pages/attendPage.js
  frontend/src/styles/main.scss
  frontend/src/styles/timer.scss
Labels: development, Frontend

#169 배포용 url수정
  frontend/src/apis/http.js
  frontend/src/apis/services/attendservices.js
  frontend/src/apis/services/noticeservices.js
  frontend/src/apis/services/rentalServices.js
  frontend/src/apis/services/trackservices.js
  frontend/src/apis/services/userservice.js
  frontend/src/apis/track.js
  frontend/src/pages/attendPage.js
  frontend/src/store/user.js
  frontend/vc.js
  frontend/vite.config.js
Labels: development, Frontend

#171 공간 예약 코드 리팩토링
  backend/src/main/java/dev/be/dorothy/reservation/service/PlaceReservationManagerImpl.java
  backend/src/main/java/dev/be/dorothy/reservation/service/PlaceReservationServiceImpl.java
  backend/src/main/java/dev/be/dorothy/reservation/service/ReservationResDto.java
Labels: Backend, refactor

#174 LogoutFilter 구현
  backend/src/main/java/dev/be/dorothy/security/filter/LogoutFilter.java
Labels: development, Backend

#176 메인 화면 공간대여 현황 조회
  frontend/src/apis/rental.js
  frontend/src/apis/services/rentalServices.js
  frontend/src/assets/1.svg
  frontend/src/assets/10.svg
  frontend/src/assets/11.svg
  frontend/src/assets/12.svg
  frontend/src/assets/13.svg
  frontend/src/assets/14.svg
  frontend/src/assets/15.svg
  frontend/src/assets/16.svg
  frontend/src/assets/17.svg
  frontend/src/assets/18.svg
  frontend/src/assets/19.svg
  frontend/src/assets/2.svg
  frontend/src/assets/20.svg
  frontend/src/assets/3.svg
  frontend/src/assets/4.svg
  frontend/src/assets/5.svg
  frontend/src/assets/6.svg
  frontend/src/assets/7.svg
  frontend/src/assets/8.svg
  frontend/src/assets/9.svg
  frontend/src/components/main/managerMain.js
  frontend/src/components/main/profileBox.js
  frontend/src/components/main/userMain.js
  frontend/src/components/rental/placeCard.js
  frontend/src/components/track/trackCard.js
  frontend/src/components/track/trackInfo.js
  frontend/src/pages/rentalDetailPage.js
  frontend/src/pages/rentalPage.js
  frontend/src/pages/trackPage.js
  frontend/src/scripts/rentalDetail.js
  frontend/src/styles/main.scss
Labels: development, Frontend

#177 출석 현황 차트 기능 구현
  frontend/index.html
  frontend/src/apis/http.js
  frontend/src/apis/services/attendservices.js
  frontend/src/apis/services/noticeservices.js
  frontend/src/apis/services/userservice.js
  frontend/src/components/calendar/calendar.js
  frontend/src/components/main/chart/dailyChart.js
  frontend/src/components/main/chart/weeklyChart.js
  frontend/src/components/main/timer/maketimer.js
  frontend/src/components/main/timer/timer.js
  frontend/src/components/main/userMain.js
  frontend/src/pages/attendPage.js
  frontend/src/pages/homePage.js
  frontend/src/pages/noticeDetailPage.js
  frontend/src/styles/chart.scss
  frontend/src/styles/main.scss
  frontend/src/styles/notice.scss
  frontend/src/styles/timer.scss
Labels: development, Frontend

#182 예약 현황 조회 시 연속된 예약에 대한 병합 처리 구현
  backend/src/main/java/dev/be/dorothy/reservation/repository/PlaceRepository.java
  backend/src/main/java/dev/be/dorothy/reservation/service/PlaceReservationServiceImpl.java
  backend/src/main/java/dev/be/dorothy/reservation/service/ReservationResDto.java
  backend/src/test/java/dev/be/dorothy/reservation/service/PlaceReservationServiceImplTest.java
Labels: development, Backend

#181 출석체크 기능구현
  frontend/src/apis/attend.js
  frontend/src/apis/services/attendservices.js
  frontend/src/apis/services/userservice.js
  frontend/src/apis/user.js
  frontend/src/components/main/chart/dailyChart.js
  frontend/src/components/main/chart/weeklyChart.js
  frontend/src/components/main/managerMain.js
  frontend/src/components/main/timer/maketimer.js
  frontend/src/pages/attendPage.js
  frontend/src/pages/noticeDetailPage.js
  frontend/src/scripts/home.js
  frontend/src/styles/chart.scss
  frontend/src/styles/notice.scss
  frontend/vc.js
  frontend/vite.config.js
Labels: development, Frontend

#183 나의 공간대여 현황 조회 수정
  frontend/src/apis/rental.js
  frontend/src/apis/services/rentalServices.js
  frontend/src/assets/absent.svg
  frontend/src/assets/present.svg
  frontend/src/assets/tardy.svg
  frontend/src/components/calendar/calendar.js
  frontend/src/components/main/chart/currentWeek.js
  frontend/src/components/main/userMain.js
  frontend/src/components/rental/placeCard.js
  frontend/src/pages/attendPage.js
  frontend/src/pages/rentalDetailPage.js
  frontend/src/pages/rentalPage.js
  frontend/src/scripts/notice.js
  frontend/src/scripts/rental.js
  frontend/src/scripts/rentalDetail.js
  frontend/src/styles/attend.scss
  frontend/src/styles/main.scss
  frontend/src/styles/notice.scss
  frontend/src/styles/rental.scss
Labels: development, Frontend

#184 선택한 트랙 스토어 저장
  frontend/src/apis/track.js
  frontend/src/apis/user.js
  frontend/src/components/calendar/calendar.js
  frontend/src/components/main/chart/dailyChart.js
  frontend/src/components/main/chart/weeklyChart.js
  frontend/src/components/main/profileBox.js
  frontend/src/components/main/timer/maketimer.js
  frontend/src/components/main/timer/timer.js
  frontend/src/components/main/userMain.js
  frontend/src/components/track/trackCard.js
  frontend/src/pages/attendPage.js
  frontend/src/pages/trackPage.js
  frontend/src/scripts/main.js
  frontend/src/store/user.js
Labels: development, Frontend

#186 메인 화면 버그 수정
  frontend/src/apis/http.js
  frontend/src/apis/track.js
  frontend/src/components/main/chart/weeklyChart.js
  frontend/src/components/main/userMain.js
  frontend/src/components/track/trackCard.js
  frontend/src/pages/attendPage.js
  frontend/src/pages/rentalPage.js
  frontend/src/router.js
  frontend/src/scripts/main.js
Labels: bug, Frontend

#188 스토어 트랙 아이디 저장
  frontend/src/apis/http.js
  frontend/src/apis/track.js
  frontend/src/components/calendar/calendar.js
  frontend/src/components/main/chart/dailyChart.js
  frontend/src/components/main/chart/weeklyChart.js
  frontend/src/components/main/profileBox.js
  frontend/src/components/main/timer/maketimer.js
  frontend/src/components/main/userMain.js
  frontend/src/components/track/trackCard.js
  frontend/src/pages/attendPage.js
  frontend/src/pages/homePage.js
  frontend/src/scripts/main.js
  frontend/src/store/user.js
  frontend/src/styles/rental.scss
Labels: development, Frontend

#189 Fix/#185 minor fix
  frontend/src/apis/attend.js
  frontend/src/apis/notice.js
  frontend/src/apis/rental.js
  frontend/src/apis/services/userservice.js
  frontend/src/apis/track.js
  frontend/src/apis/user.js
  frontend/src/components/main/chart/dailyChart.js
  frontend/src/components/main/profileBox.js
  frontend/src/components/main/userMain.js
  frontend/src/components/track/addTrack.js
  frontend/src/components/track/trackCard.js
  frontend/src/scripts/main.js
  frontend/src/scripts/rentalDetail.js
  frontend/src/styles/rental.scss
  frontend/src/styles/track.scss
Labels: bug, Frontend

#191 Feat/#store track
  frontend/src/apis/http.js
  frontend/src/apis/user.js
  frontend/src/pages/homePage.js
  frontend/src/scripts/main.js
Labels: development, Frontend

#194 달력 오류 수정
  frontend/src/apis/http.js
  frontend/src/components/calendar/calendar.js
  frontend/src/components/main/userMain.js
  frontend/src/styles/home.scss
  frontend/src/styles/main.scss
  frontend/src/styles/notice.scss
Labels: development, Frontend

#195 달력 이미지 깨짐 수정
  frontend/src/apis/http.js
  frontend/src/components/calendar/calendar.js
  frontend/src/components/main/userMain.js
Labels: development, Frontend

#197 관리자 페이지 오류 수정
  frontend/src/assets/profile.png
  frontend/src/components/calendar/calendar.js
  frontend/src/components/main/profileBox.js
  frontend/src/styles/attend.scss
  frontend/src/styles/main.scss
  frontend/src/styles/reset.scss
Labels: development, Frontend
